*{
    margin: 0;
    padding: 0;
}
.main{
    margin: 0 auto;
    border: 1px solid white;
    width: 1300px;
    height: 3900px;
}
.landing{
    /* border: 1px solid red; */
    width: 100%;
    height: 700px; 
}
.menu-of-pizzas{
    /* border: 1px solid blue; */
    width: 100%;
    height: 1900px; 
}
footer{
    /* border: 1px solid yellow; */
    width: 100%;
    height: 750px;
}
.contacts{
    width: 1142px;
    height: 160px;
    /* border: lid red; */
}
.row{
    width: 1000px;
    margin: 0 auto;
    /* border: 2px solid violet;     */
    height: 750px;
}
.landing{
    background-image:  url("pizza.png"),url("stars.jpg");
    background-repeat: no-repeat;
    background-size:  40% 40%, 100% 100%;
    background-position: 600px 270px, 0px 0px;
}
.landing-ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 320px;
    margin-top: -30px;
    margin-left: 200px;
    flex-wrap: nowrap;


}
.monstr{
    font-family: Montserrat;
}
.landing-ul li a{
    color: white;
    text-decoration: none;
    font-size: 17px;
    
    
}
.pizza-logo{
    margin-top: 30px;
}
.small-icons{
    display: flex;
    margin-top: -30px;
    justify-content: space-around;
    width: 470px;
    margin-left: 550px;
    

    

    
}
.basket{
    margin-right: -37px;
    position: relative;
    
    
}
.text, .text1{
    color: white;
    margin-top: 10px;
}
.car, .location{
   margin-right: -20px;
}
.heading1{
    font-size: 48px;
    font-weight: 700;
    color: white;
    margin-top: 170px;
    line-height: 58px;
    display: inline-block;

}
.fire{
    margin-left: -170px;
}
.text3{
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: white;
    margin-bottom: 20px;
    margin-top: 10px;
    
}

.button-order{
    width: 210px;
    height: 67px;
    border-radius: 26px;
    background-color: #E79912;}


    
    


.in-button-text{
    font-size: 23px;
    font-weight: 500;
    line-height: 28px;
    text-align: center;
    padding-top: 18px;
    color: black;
}
.button_a{
    display: block;
    color: black;
}
a{
    text-decoration: none;
}
.after-icon-text{
    color: white;
    font-size: 23px;
    margin-top: -35px;
    margin-left: 50px;
   
   
    
}
.suitcase{
    margin-top: 140px;
}
.alarm{
    
    width: 45px;
    margin-top: -100px;
    margin-left: 200px;
   }
.after-icon-text2{
    margin-left: 250px;
    margin-top: -47px;
    
   
 }
 .circle{
    width: 34px;
    height: 34px;
    border-radius: 34px;
    background-color:  #E85F0C;
    margin-left: 410px;
    margin-top: -30px;
 }
 .after-icon-text3{
    margin-left: 465px;
    margin-top: -30px;
 }
 .ellipse{
    width: 10px;
    height: 10px;
    background-color: #E85F0C;
    border-radius: 30px;
    margin-left: 650px;
    margin-top: -200px;
 }
 .line1{
    width: 100px;
    border: 1px solid #E85F0C;
    transform: rotate(45deg);
    margin-left: 640px;
    margin-top: 30px;
 }
 .line2{
    width: 100px;
    border: 1px solid #E85F0C;
    transform: rotate(180deg);
    margin-left: 726px;
    margin-top: 34px;
 }
 .orange-line{
    margin-left: px;
 }
 .pizza-name{
    color: white;
    font-size: 50px;
    display: inline-block;
    margin-left: 730px;
    font-weight: 700;


 }
 .price{
    color: #E85F0C;
    font-size: 30px;
    font-weight: 700;
    margin-left: 920px;
 }

 .h1{
    font-size: 88px;
    font-weight: 700;
    margin-top: 50px;
    text-align: center;
 }
 .menu{
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 500px;
    margin-top: 40px;
    
 }
.menu li a{
    color: #00000085;
    font-weight: 700;
}
.menu li{
    transition: all 0.4s;
}
.menu .menu-pizza{
    color: #E85F0C;
}
.pizza1{
    margin-top: 70px;
    width: 20%;
    
}
.container-of-pizza{
    width: 180px;
    height: 320px;
    border: 1px solid gray;
    border-radius: 51px;
}
.sale{
    margin-left: 140px;
    margin-top: -10px;
}
.pizza-image{
    width: 150px;
    margin-left: 20px;

}
.name-of-pizza{
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 5px;
}
.price2{
    margin: 0px;
    font-size: 22px;
    float: left;
    margin-left: 20px;
}
.number-of-pizzas{
    border: 1px solid black;
    width: 60px;
    height: 17px;
    border-radius: 9px;
    float: left;
    margin-left: 10px;
    margin-top: 5px;
}
.number-of-pizzas a{
    color: black;
}
.to-the-basket-button{
    width: 100px;
    height: 40px;
    background-color: #E85F0C;
    border-radius: 23px;
    margin-top: 45px;
    margin-left: 48px;
   
}
.in-button-text2{
    text-align: center;
    padding-top: 10px;
    font-size: 14px;
}
.to-the-basket-button a{
    color: black;
    width: 50px;
}
.tastes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.h2{
    font-size: 400%;
    margin-top: 100px;
}
.text2{
    font-size: 22px;
    line-height: 40px;
    margin-top: 40px;
    width: 1000px;
    font-weight: 500;
   
}
.photo{
    width: 100%;
    margin-top: 40px;
}
footer{
    background-image: url("bg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.h3{
    color: white;
    font-size: 70px;
    margin-top: 90px;
}
.container-footer{
    width: 300px;
    height: 250px;
    background-color: white;
    border-radius: 58px;
    margin-top: 100px;
}
.alarm-black{
    width: 100px;
    margin-left: 100px;
    margin-top: 20px;
}
h2{
    text-align: center;
    margin-top: 20px;
}
.text4{
   text-align: center;
   margin-top: 10px;
}

.wrap{
    display: flex;
     justify-content: space-around;
}
.h22{
    margin-top: 45px;
}
.map{
    width: 70%;
    float: left;
    height: 400px;
}
.contact{
    width: 30%;
    height: 400px;
    background-color: #E85F0C;
    float: left;
}
.row2{
    width: 300px;
    margin: 0 auto;
}
.location-footer{
    margin-top: 50px;
}
.adres{
    color: white;
    font-size: 30px;
    margin-top: -40px;
    margin-left: 40px;
}
.city-footer{
    color: white;
    font-size: 20px;
    margin-top: 0px;
    margin-left: 40px;
}
.adres2{
    margin-top: 40px;
}
.adres3{
    font-size: 20px;
    margin-top: 50px;
}
.tel{
    margin-top: 50px;
    margin-right: 30px;
    margin-left: 30px;
}
.insta{
    margin-right: 30px;
}
a, div, p{
    font-family: Montserrat;
}
.landing-ul .menyu{
    color: #E79912;
}
.circle-white{
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: white;
    color: #E85F0C;
    font-size: 8px;
    text-align: center;
    
}
.landing-ul li a:hover{
    color: #E79912;

}
.menu li a:hover{
    color: #E85F0C;
    

}
.menu li:hover{
    transform: translate(15px);
}
.pizza1:hover{
    transform: scale(1.3);
    

}


